body {
    font-family: Optima, "Candara", "URW Classico", sans-serif;
    line-height: 1.4;
    font-size: 16px;
    margin: 50px auto;
    max-width: 710px;
    padding: 0 10px;
    color: #000;
    background: #fff;
}

p {
    margin-bottom: 1em;
}

a {
    text-decoration: none;
    color: #595fca; /* deep blue, readable on white */
    font-weight: 500;
    background-color: rgba(89, 95, 202, 0.05);
}

.award {
    border: 1.5px solid #5e60e4;
    color: black;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
    padding-left: 3px;
    padding-right: 3px;
    border-radius: 5px;
    box-shadow: 0 0 3px var(--secondary);
    font-size: smaller;
    font-style: italic;
}

.authors {
    font-size: 0.9em;
    margin-left: 2em;
    display: inline-block;
}

img {
    max-width: 100%;
}

.sidenote {
    font-size: 80%;
    position: relative;
}
/* Wide viewport */
@media (min-width: 1400px) {
    .sidenote {
        float: right;
        clear: right;
        margin-right: -23vw;
        text-align: left;

        top: -3rem;
        width: 20vw;
        margin-top: 1rem;
    }
}

/* Narrow viewport */
@media (max-width: 1400px) {
    .sidenote {
        float: left;
        text-align: left;

        width: 95%;
        margin: 1rem 0;
        padding-left: 5%;
    }
}

/* Sidenote counter */
body {
    counter-reset: sidenote-counter;
}
.sidenote-number {
    counter-increment: sidenote-counter;
}
/* Counter before the sidenote in the margin. */
.sidenote::before {
    content: counter(sidenote-counter)".";
    position: relative;
    vertical-align: baseline;
    font-size: 0.9em;
    font-weight: bold;
    margin-right: 0.3rem;
}
/* Counter in the main body. */
.sidenote-number::after {
    content: counter(sidenote-counter);
    vertical-align: super;
    font-size: 0.7em;
    font-weight: bold;
    margin-right: 0.05rem;
    margin-left: -0.05rem;
}

@media (min-width: 1400px) {
    /* Highlight the sidenote when mouse hovers on the sidenote number in body. */
    .sidenote-number:hover .sidenote {
        background-color: yellow;
    }
}